<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <title>Mi Página Web</title>
  <link rel="stylesheet" href="../css/style.css" >
  <link rel="stylesheet" href="../css/contacto.css">
  <!-- Estilos Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" >
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="logo">Mi Web</div>
      <ul class="nav-links" id="nav-links">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="galeria.html">Galería</a></li>
        <li><a href="presupuesto.html">Presupuesto</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
      <div class="menu-toggle" id="menu-toggle">
        <span class="linea"></span>
        <span class="linea"></span>
        <span class="linea"></span>
      </div>
    </nav>

  </header>

  <main>
    <div id="map"></div>

    <div class="info-box" id="info">
        <h2>Mi Negocio</h2>
        <p><strong>Dirección:</strong> Av. Ejemplo 123, Ciudad</p>
        <p><strong>Teléfono:</strong> +34 600 123 456</p>
    </div>


  </main>

  <footer>
    <p>
      <strong>Redes Sociales:</strong><br>
      <a href="https://www.instagram.com/">Instagram</a><br>
      <a href="https://www.facebook.com/?locale=es_ES">Facebook</a><br>
      <a href="https://workspace.google.com/intl/es/gmail/">Gmail</a>
    </p>
    <p>
      <strong>Dirección:</strong><br>
      <a class="direction" href="views/contacto.html" target="_blank">Av. Meza y Lopez 123, Las Palmas de Gran Canaria</a>
    </p>
    <p>
      <strong>Aviso Legal:</strong><br>
      Esta es una página de ejemplo.
    </p>
  </footer>

      <!-- Scripts Leaflet y OSRM -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    

    <script src="../js/contacto.js"></script>
</body>
</html>
