<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <title>Mi Página Web</title>
  <!-- estilos-->
  <link rel="stylesheet" href="../css/lightbox.css">
  <link rel="stylesheet" href="../css/galeria.css" >
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="logo">Mi Web</div>
      <ul class="nav-links" id="nav-links">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="#">Galería</a></li>
        <li><a href="presupuesto.html">Presupuesto</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
      <div class="menu-toggle" id="menu-toggle">
        <span class="linea"></span>
        <span class="linea"></span>
        <span class="linea"></span>
      </div>
    </nav>

  </header>

  <main>
    <h2>Presente</h2>
    <div class="galeria">
        <a href="../assets/images/galeria/img/adventure-9669329_1280.jpg" data-lightbox="image-1" data-title="Casa en la cima"><img class="image" src="../assets/images/galeria/img/adventure-9669329_1280.jpg" alt=""></a>
        <a href="../assets/images/galeria/img/animal-9650392_1280.jpg" data-lightbox="image-1" data-title="Casa en la cima"><img class="image" src="../assets/images/galeria/img/animal-9650392_1280.jpg" alt=""></a>
        <a href="../assets/images/galeria/img/building-5115897_1280.jpg" data-lightbox="image-1" data-title="Casa en la cima"><img class="image" src="../assets/images/galeria/img/building-5115897_1280.jpg" alt=""></a>
        <a href="../assets/images/galeria/img/cat-9569386_1280.jpg" data-lightbox="image-1" data-title="Casa en la cima"><img class="image" src="../assets/images/galeria/img/cat-9569386_1280.jpg" alt=""></a>
        <a href="../assets/images/galeria/img/eve-9726477_1280.jpg" data-lightbox="image-1" data-title="Casa en la cima"><img class="image" src="../assets/images/galeria/img/eve-9726477_1280.jpg" alt=""></a>
        <a href="../assets/images/galeria/img/read-9370928_1280.jpg" data-lightbox="image-1" data-title="Casa en la cima"><img class="image" src="../assets/images/galeria/img/read-9370928_1280.jpg" alt=""></a>
        <a href="../assets/images/galeria/img/view-9651981_1280.jpg" data-lightbox="image-1" data-title="Casa en la cima"><img class="image" src="../assets/images/galeria/img/view-9651981_1280.jpg" alt=""></a>
    </div>
    <h2>Futuro</h2>
    <div class="galeria">
        <a href="../assets/images/index/ai-generated-8932783.jpg" data-lightbox="image-2" data-title="Casa en la cima"><img class="image" src="../assets/images/index/ai-generated-8932783.jpg" alt=""></a>
        <a href="../assets/images/index/el-colibri-robotico-futurista.jpg" data-lightbox="image-2" data-title="Casa en la cima"><img class="image" src="../assets/images/index/el-colibri-robotico-futurista.jpg" alt=""></a>
        <a href="../assets/images/index/exploracion-futurista-del-paisaje-urbano-en-evolucion-de-dubai(1).jpg" data-lightbox="image-2" data-title="Casa en la cima"><img class="image" src="../assets/images/index/exploracion-futurista-del-paisaje-urbano-en-evolucion-de-dubai(1).jpg" alt=""></a>
        <a href="../assets/images/index/exploracion-futurista-del-paisaje-urbano-en-evolucion-de-dubai.jpg" data-lightbox="image-2" data-title="Casa en la cima"><img class="image" src="../assets/images/index/exploracion-futurista-del-paisaje-urbano-en-evolucion-de-dubai.jpg" alt=""></a>
        <a href="../assets/images/index/paisaje-futurista-de-dubai.jpg" data-lightbox="image-2" data-title="Casa en la cima"><img class="image" src="../assets/images/index/paisaje-futurista-de-dubai.jpg.jpg" alt=""></a>
        <a href="../assets/images/index/una-escena-de-fantasia-con-elementos-surrealistas-y-una-atmosfera-mistica.jpg" data-lightbox="image-2" data-title="Casa en la cima"><img class="image" src="../assets/images/index/una-escena-de-fantasia-con-elementos-surrealistas-y-una-atmosfera-mistica.jpg" alt=""></a>
        <a href="../assets/images/index/una-escena-de-fantasia-con-un-personaje-humano-futurista.jpg" data-lightbox="image-2" data-title="Casa en la cima"><img class="image" src="../assets/images/index/una-escena-de-fantasia-con-un-personaje-humano-futurista.jpg" alt=""></a>
        <a href="../assets/images/index/viajes-espaciales-retro-futuristas.jpg" data-lightbox="image-2" data-title="Casa en la cima"><img class="image" src="../assets/images/index/viajes-espaciales-retro-futuristas.jpg" alt=""></a>
        <a href="../assets/images/index/viajes-urbanos-futuristas-de-alta-tecnologia-para-la-gente.jpg" data-lightbox="image-2" data-title="Casa en la cima"><img class="image" src="../assets/images/index/viajes-urbanos-futuristas-de-alta-tecnologia-para-la-gente.jpg" alt=""></a>
        <a href="../assets/images/index/vista-de-la-nave-espacial-de-aspecto-futurista.jpg" data-lightbox="image-2" data-title="Casa en la cima"><img class="image" src="../assets/images/index/vista-de-la-nave-espacial-de-aspecto-futurista.jpg" alt=""></a>

      </div>
    
  </main>
  <footer>
    <p>
      <strong>Redes Sociales:</strong><br>
      <a href="https://www.instagram.com/">Instagram</a><br>
      <a href="https://www.facebook.com/?locale=es_ES">Facebook</a><br>
      <a href="https://workspace.google.com/intl/es/gmail/">Gmail</a>
    </p>
    <p>
      <strong>Dirección:</strong><br>
      <a class="direction" href="views/contacto.html" target="_blank">Av. Meza y Lopez 123, Las Palmas de Gran Canaria</a>
    </p>
    <p>
      <strong>Aviso Legal:</strong><br>
      Esta es una página de ejemplo.
    </p>
  </footer>

  <script src="../js/lightbox-plus-jquery.js" ></script>
  <script>
        lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true,
        'showImageNumberLabel': false
        })
  </script>
  <script src="../js/galeria.js"></script>
</body>



</html>